div.ui-panel {}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #474747;
}

p.ui-label {
    font-family: sans-serif;
    color: white;
    top: 50px;
    right: 75px;
    position: absolute;
}
